<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <% include header %>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <% include sidebar.ejs %>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- content -->

      <!-- end: content -->

      <footer class="main-footer">
        <strong>Copyright &copy; 2018 <a href="https://hackmanila.com">Hack Manila</a>.</strong> All rights reserved.
      </footer>

    </div>
    <!-- ./wrapper -->

    <% include foot.ejs %>
  </body>
</html>
