<!DOCTYPE html>
<html>
<head>
  <% include head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <% include header %>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <% include sidebar.ejs %>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- content -->
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Overview
      </h1>
    </section>

    <section class="content">
      <div class="container-fluid">

        <div class="row clearfix">
          <div class="col-md-12">
            <select class="form-control" id="coffeeSalesChartChanger" style="position: absolute;display: block;top: -15px;right: 15px;width: 100px;">
              <option value="2018" selected>2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
            </select>
            <div style="height: 100px;">
              <canvas id="coffeeSalesChart"></canvas>
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>

  <!-- end: content -->

  <footer class="main-footer">
    <% include footer.ejs %>
  </footer>

</div>
<!-- ./wrapper -->

<% include foot.ejs %>
</body>
</html>
