<ul class="sidebar-menu" data-widget="tree">
  <li class="header">MAIN NAVIGATION</li>
  <li>
    <a href="/overview">
      <i class="fa fa-fw"></i>
      <span>Overview</span>
    </a>
  </li>
  <li>
    <a href="/partners">
      <i class="fa fa-fw"></i>
      <span>Partners</span>
    </a>
  </li>
</ul>
