<!DOCTYPE html>
<html>
<head>
  <% include head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <% include header %>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <% include sidebar.ejs %>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- content -->
  <div class="content-wrapper">

    <section class="content-header">
      <a href="/partners">
        <i class="fa fa-caret-left"></i>
        Back
      </a>
      <h1>New Partner Profile</h1>
    </section>


    <section class="content">
      <div class="container-fluid">
        <form id="partner_form" method="POST" action="/partners/menu">
          <fieldset>
            <table class="table table-settings">
              <tbody>
              <tr>
                <th>Item Code</th>
                <td><input type="text" class="form-control" name="itemCode"/></td>
              </tr>
              <tr>
                <th>Item Name</th>
                <td><input type="text" class="form-control" name="itemName"/></td>
              </tr>
              <tr>
                <th>Image</th>
                <td><input type="text" class="form-control" name="itemPath"/></td>
              </tr>
              <tr>
                <th>Coffee Beans Needed</th>
                <td><input type="number" class="form-control" name="coffeeNeeded"/></td>
              </tr>
              <tr>
                <th>Price</th>
                <td><input type="text" class="form-control" name="price"/></td>
              </tr>
              <tr>
                <td>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </fieldset>
        </form>
      </div>
    </section>

  </div>

  <!-- end: content -->

  <footer class="main-footer">
    <% include footer.ejs %>
  </footer>

</div>
<!-- ./wrapper -->

<% include foot.ejs %>
</body>
</html>
